{% load static %}
 <!-- about section -->

 <section class="about_section layout_padding">
     <div class="container">
       <div class="row">
         <div class="col-md-6">
           <div class="detail-box">
             <div class="heading_container">
               <h2>
                 About Us
               </h2>
             </div>
             <p>
               Normal distribution of letters, as opposed to using 'Content here, content here', making it look like
               readable English. Many desktop publishing packages and web page editors has a more-or-less normal
               distribution of letters, as opposed to using 'Content here, content here', making it look like readable
               English. Many desktop publishing packages and web page editors
             </p>
             <a href="">
               Read More
             </a>
           </div>
         </div>
         <div class="col-md-6">
           <div class="img-box">
             <img src="{% static 'jobs/images/about-img.jpg' %}" alt="">
           </div>
         </div>
       </div>
     </div>
   </section>
  
   <!-- end about section -->