{% load static %}
<!-- category section -->
<section class="category_section">
     <div class="container-fluid">
       <div class="row">
         <div class="col-sm-6 col-md-4 col-xl-2 px-0">
           <a href="#" class="box">
             <div class="img-box">
               <img src="{% static 'jobs/images/c1.png' %}" alt="">
             </div>
             <div class="detail-box">
               <h5>
                 Web Design
               </h5>
             </div>
           </a>
         </div>
         <div class="col-sm-6 col-md-4 col-xl-2 px-0">
           <a href="#" class="box">
             <div class="img-box">
               <img src="{% static 'jobs/images/c2.png' %}" alt="">
             </div>
             <div class="detail-box">
               <h5>
                 Web Development
               </h5>
             </div>
           </a>
         </div>
         <div class="col-sm-6 col-md-4 col-xl-2 px-0">
           <a href="#" class="box">
             <div class="img-box">
               <img src="{% static 'jobs/images/c3.png' %}" alt="">
             </div>
             <div class="detail-box">
               <h5>
                 Graphic Design
               </h5>
             </div>
           </a>
         </div>
         <div class="col-sm-6 col-md-4 col-xl-2 px-0">
           <a href="#" class="box">
             <div class="img-box">
               <img src="{% static 'jobs/images/c4.png' %}" alt="">
             </div>
             <div class="detail-box">
               <h5>
                 Seo marketing
               </h5>
             </div>
           </a>
         </div>
         <div class="col-sm-6 col-md-4 col-xl-2 px-0">
           <a href="#" class="box">
             <div class="img-box">
               <img src="{% static 'jobs/images/c5.png' %}" alt="">
             </div>
             <div class="detail-box">
               <h5>
                 Accounting
               </h5>
             </div>
           </a>
         </div>
         <div class="col-sm-6 col-md-4 col-xl-2 px-0">
           <a href="#" class="box">
             <div class="img-box">
               <img src="{% static 'jobs/images/c6.png' %}" alt="">
             </div>
             <div class="detail-box">
               <h5>
                 Content Writing
               </h5>
             </div>
           </a>
         </div>
       </div>
     </div>
   </section>
   <!-- end category section -->