{% load static %}
 <!-- info section -->
 <section class="info_section ">
     <div class="container">
       <div class="row">
         <div class="col-md-2 info_links">
           <h4>
             Menu
           </h4>
           <ul>
             <li class="active">
               <a href="index.html">
                 Home
               </a>
             </li>
             <li>
               <a href="about.html">
                 About
               </a>
             </li>
             <li>
               <a class="" href="job.html">
                 Jobs
               </a>
             </li>
             <li>
               <a class="" href="freelancer.html">
                 Freelancers
               </a>
             </li>
           </ul>
         </div>
         <div class="col-md-3">
           <h4>
             Jobs
           </h4>
           <p>
             Established fact that a reader will be distracted by the readable content of a page when looking at its
             layout. The point of using Lorem Ipsum
           </p>
         </div>
         <div class="col-md-3">
           <div class="info_social">
             <h4>
               Social Link
             </h4>
             <div class="social_container">
               <div>
                 <a href="">
                  <i class="fa-brands fa-facebook-f"></i>
                 </a>
               </div>
               <div>
                 <a href="">
                  <i class="fa-brands fa-twitter"></i>
                 </a>
               </div>
               <div>
                 <a href="">
                   <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                 </a>
               </div>
               <div>
                 <a href="">
                   <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                 </a>
               </div>
             </div>
           </div>
         </div>
         <div class="col-md-4">
           <div class="info_form">
             <h4>
               Newsletter
             </h4>
             <form action="">
               <input type="text" placeholder="Enter Your Email" />
               <button type="submit">
                 Subscribe
               </button>
             </form>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- end info_section -->