{% extends "emp/emp_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <a href="{%url 'emp_edit_education'%}" class="btn btn-primary position-absolute top-5 end-0">Edit Education Details</a>

          <h2 class="p-2 text-secondary">Education Details</h2>

          <div class="container-fluid">
               <table class="table table-bordered">
                    <thead>
                         <tr>
                              <th scope="col">Course Name</th>
                              <th scope="col">School Name</th>
                              <th scope="col">Pass out Years</th>
                              <th scope="col">Percentage</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr>
                              <th scope="row">{{form.instance.coursepg}}</th>
                              <th scope="row">{{form.instance.schoolpg}}</th>
                              <th scope="row">{{form.instance.yearofpassingpg}}</th>
                              <th scope="row">{{form.instance.percentagepg}}</th>
                         </tr>
                         <tr>
                              <th scope="row">{{form.instance.coursegra}}</th>
                              <th scope="row">{{form.instance.schoolgra}}</th>
                              <th scope="row">{{form.instance.yearofpassinggra}}</th>
                              <th scope="row">{{form.instance.percentagegra}}</th>
                         </tr>
                         <tr>
                              <th scope="row">{{form.instance.coursessc}}</th>
                              <th scope="row">{{form.instance.schoolssc}}</th>
                              <th scope="row">{{form.instance.yearofpassingssc}}</th>
                              <th scope="row">{{form.instance.percentagessc}}</th>
                         </tr>
                         <tr>
                              <th scope="row">{{form.instance.coursehsc}}</th>
                              <th scope="row">{{form.instance.schoolhsc}}</th>
                              <th scope="row">{{form.instance.yearofpassinghsc}}</th>
                              <th scope="row">{{form.instance.percentagehsc}}</th>
                         </tr>
                    </tbody>
               </table>
               
          </div>
     </div>
</div>







{% endblock main %}