{% extends "emp/emp_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <a href="{% url 'emp_experiences' %}" class="btn btn-primary position-absolute top-5 end-0">View Employee
               Experiences</a>

          <h2 class="p-2 text-secondary">Update Experiences</h2>

          <div class="container-fluid">
               <form action="" method="post">
                    {% csrf_token%}

                    <table class="table table-bordered">
                         <thead>
                              <tr>
                                   <th scope="col">Company Name</th>
                                   <th scope="col">Designation</th>
                                   <th scope="col">Duration</th>
                                   <th scope="col">Years</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <th scope="row"><input type="text" name="first_comany_name"
                                             value="{{experience.first_comany_name}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="first_comany_designation"
                                             value="{{experience.first_comany_designation}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="first_comany_duration"
                                             value="{{experience.first_comany_duration}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="first_comany_years"
                                             value="{{experience.first_comany_years}}" class="form-control" </th>
                              </tr>
                              <tr>
                                   <th scope="row"><input type="text" name="second_comany_name"
                                             value="{{experience.second_comany_name}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="second_comany_designation"
                                             value="{{experience.second_comany_designation}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="second_comany_duration"
                                             value="{{experience.second_comany_duration}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="second_comany_years"
                                             value="{{experience.second_comany_years}}" class="form-control"></th>
                              <tr>
                                   <th scope="row"><input type="text" name="third_comany_name"
                                             value="{{experience.third_comany_name}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="third_comany_designation"
                                             value="{{experience.third_comany_designation}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="third_comany_duration"
                                             value="{{experience.third_comany_duration}}" class="form-control"></th>
                                   <th scope="row"><input type="text" name="third_comany_years"
                                             value="{{experience.third_comany_years}}" class="form-control"></th>
                              </tr>
                         </tbody>
                    </table>



                    <input type="submit" name="Update" class="btn btn-success position-absolute bottom-0 end-0 px-5">
               </form>

          </div>
     </div>
</div>


{% if error == "no" %}
<script>
     alert("Experience update Successfully");
     window.location = "{% url 'emp_edit_experiences'%}";  // Redirecting to other page (add)
</script>
{% endif %}

{% if error == "yes" %}
<script>
     alert('Please Enter Details');
</script>

{% endif %}





{% endblock main %}