{% extends "emp/emp_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <a href="{%url 'emp_edit_experiences'%}" class="btn btn-primary position-absolute top-5 end-0">Edit
               Experiences</a>

          <h2 class="p-2 text-secondary">Woking Experiences</h2>

          <div class="container-fluid">
               <table class="table table-bordered">
                    <thead>
                         <tr>
                              <th scope="col">Company Name</th>
                              <th scope="col">Designation</th>
                              <th scope="col">Duration</th>
                              <th scope="col">Years</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr>
                              <th scope="row">{{form.instance.first_comany_name}}</th>
                              <th scope="row">{{form.instance.first_comany_designation}}</th>
                              <th scope="row">{{form.instance.first_comany_duration}}</th>
                              <th scope="row">{{form.instance.first_comany_years}}</th>
                         </tr>
                         <tr>
                              <th scope="row">{{form.instance.second_comany_name}}</th>
                              <th scope="row">{{form.instance.second_comany_designation}}</th>
                              <th scope="row">{{form.instance.second_comany_duration}}</th>
                              <th scope="row">{{form.instance.second_comany_years}}</th>
                         </tr>
                         <tr>
                              <th scope="row">{{form.instance.third_comany_name}}</th>
                              <th scope="row">{{form.instance.third_comany_designation}}</th>
                              <th scope="row">{{form.instance.third_comany_duration}}</th>
                              <th scope="row">{{form.instance.third_comany_years}}</th>
                         </tr>
                    </tbody>
               </table>

          </div>
     </div>
</div>







{% endblock main %}