{% extends "emp/emp_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <div class="row">
               <div class="col-md-6">
                    <h2 class="p-2 text-secondary">Profile Details</h2>
               </div>
               <div class="col-md-6 text-end">
                    <a href="{% url 'emp_profile' %}" class="btn btn-primary">Show Profile</a>
               </div>
               <div class="col-md-2">
                    <img src="{{form.instance.feature_image.url }}" alt="Images" height="100" width="100"
                         class="img-thumbnail  my-5 d-flex">

               </div>
               <div class="col-md-10">
                    <h6 class="col-sm-6 form-group form-row">Name:{{form.instance.user.first_name}}
                         {{form.instance.user.last_name}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Designation:{{form.instance.designation}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Department:{{form.instance.empdept}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Joining:{{form.instance.join_date}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Gender:{{form.instance.gender}}</h6>

               </div>
          </div>


          {% if messages %}
          <ul class="messages">
               {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    dskfjkasdfjkl
                    {{ message }}
                    </li>
                    {% endfor %}
          </ul>
          {% endif %}


          <div class="container-fluid">
               <form action="{% url 'emp_profile_edit' %}" method="post" name="signup" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">First Name</label>
                                   <input type="text" class="form-control" value="{{form.instance.user.first_name }}">

                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Last Name</label>
                                   <input type="text" class="form-control" value="{{form.instance.user.last_name }}">
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Employee Code</label>
                                   <input type="text" name="empcode" class="form-control"
                                        value="{{form.instance.empcode}}">{{form.empcode.errors}}
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Employee Designation</label>
                                   <input type="text" name="designation" class="form-control"
                                        value="{{form.instance.designation}}">{{form.designation.errors}}
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Employee Department</label>
                                   <input type="text" name="empdept" class="form-control"
                                        value="{{form.instance.empdept|default:''}}">
                                   {{form.empdept.errors}}

                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Email ID</label>
                                   <input type="email" name="emailid" class="form-control"
                                        value="{{form.instance.user.username}}">{{form.emailid.errors}}
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Contact</label>
                                   <input type="text" name="contact" class="form-control"
                                        placeholder="Enter a your contact"
                                        value="{{form.instance.contact}}">{{form.contact.errors}}
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Joining Date:{{form.instance.join_date}}</label>
                                   
                                   <input type="date" name="join_date" class="form-control"
                                        value="{{form.instance.join_date}}">
                                   {{form.join_date.errors}}
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Gender</label>
                                   <select name="gender" class="form-control">
                                        <option value="none">Select Gender[{{form.instance.gender}}]</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                   </select>
                                   {{form.gender.errors}}
                              </div>
                         </div>
                    </div>
          </div>
          <input type="submit" value="Submit" class="m-4 px-3 btn btn-success">

          </form>
     </div>
</div>
</div>





{% endblock main %}