{% extends "emp/emp_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <div class="row">
               <h2 class="p-2 text-secondary">Profile Details</h2>
               <div class="col-md-2">
                    <img src="{{employee.feature_image.url }}" alt="Images" height="100" width="100"
                         class="img-thumbnail  my-5 d-flex">
               </div>
               <div class="col-md-10">
                    <h6 class="col-sm-6 form-group form-row">Name:{{employee.user.first_name}}
                         {{employee.user.last_name}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Designation:{{employee.designation}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Department:{{employee.empdept}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Joining:{{employee.join_date}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Gender:{{employee.gender}}</h6>

                    <a href="{% url 'emp_profile_edit' %}" class="btn btn-primary ">EDIT</a>
               </div>
          </div>
     </div>
</div>







{% endblock main %}