{% extends "emp/emp_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <div class="row">
               <div class="col-md-6">
                    <h2 class="p-2 text-secondary">Profile Details</h2>
               </div>
               <div class="col-md-6 text-end">
                    <a href="{% url 'emp_profile' %}" class="btn btn-primary">Show Profile</a>
               </div>
               <div class="col-md-2">
                    <img src="{{employee.feature_image.url }}" alt="Images" height="100" width="100"
                         class="img-thumbnail  my-5 d-flex">

               </div>
               <div class="col-md-10">
                    <h6 class="col-sm-6 form-group form-row">Name:{{employee.user.first_name}}
                         {{employee.user.last_name}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Designation:{{employee.designation}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Department:{{employee.empdept}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Joining:{{employee.join_date}}</h6>
                    <h6 class="col-sm-6 form-group form-row">Gender:{{employee.gender}}</h6>

               </div>

          </div>
          <div class="container-fluid">
               {% if form.errors %}
               <div class="alert alert-danger">
                    <strong>Error:</strong> Please correct the errors below.
               </div>
               {% endif %}
               <form action="{% url 'emp_profile_edit' %}" method="post" name="signup" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" class="m-4 px-3 btn btn-success">
               </form>
          </div>
     </div>
</div>




{% endblock main %}