{% extends "emp/emp_base.html" %}
{% block main %}
<script>
     function changepassword() {
          if (document.changepassword.newpassword.value != document.changepassword.conformnewpassword.value) {
              alert('New password and confirm password fields do not match');
              document.changepassword.conformnewpassword.focus(); // Set focus on the confirm password field
              return false; // Prevent form submission
          }
          return true; // Allow form submission if passwords match
      }
      
</script>
<div class="card shadow m-2">
     <div class="card-body">
          <h2 class="p-2 text-secondary">Change Password</h2>

          <div class="container-fluid">
               <form action="" method="post" name="changepassword" onsubmit="return changepassword()">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Current Password</label>
                                <input type="password" name="currentpassword" class="form-control" placeholder="Enter the current password">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">New Password</label>
                                <input type="password" name="newpassword" class="form-control" placeholder="Enter the new password">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Confirm New Password</label>
                                <input type="password" name="conformnewpassword" class="form-control" placeholder="Confirm the new password">
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="m-4 px-3 btn btn-success">
                </form>
                
          </div>
     </div>
</div>

{% if error == "no" %}
<script>
     alert("Password update Successfully");
     window.location = "{% url 'emp_logout'%}";  // Redirecting to other page (add)
</script>
{% endif %}

{% if error == "yes" %}
<script>
     alert('Please Try again');
</script>
{% endif %}

{% if error == "not" %}
<script>
     alert('Current password incorrect');
</script>
{% endif %}






{% endblock main %}