{% extends "emp/emp_base.html" %}
{% block main %}
<script>
    function checkpassword() {
        if (document.changepassword.newpassword.value != document.changepassword.confirmpassword.value) {
            alert("New password and conform password fiels doesnot match!");
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

<div class="card shadow m-2">
    <div class="card-body">
        <h2 class="p-2 text-secondary">Change Password</h2>

        <div class="container-fluid">
            <form method="post" name="changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Current Password</label>
                            <input type="password" name="currentpassword" class="form-control"
                                placeholder="Enter your Current password">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">New Password</label>
                            <input type="password" name="newpassword" class="form-control"
                                placeholder="Enter your New password">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Again New Password</label>
                            <input type="password" name="confirmpassword" class="form-control"
                                placeholder="Enter your Again New password">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-4 px-3 btn btn-success">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Change Password Successfully");
    window.location = "{% url 'emp_logout'%}";  // Redirecting to other page (add)
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Wrong Something');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Current password wrong');
</script>
{% endif %}






{% endblock main %}