{% extends "admin/admin_base.html" %}
{% block main %}
<h4 class="text-success p-2" style="border-bottom: 2px solid red;">Admin dashboard</h4>
<div class="row text-center">
     <div class="col-sm-12 p-2">
          <div class="card shadow">
               <div class="card-body">
                    <h4 class="text-secondary">Welcome Back To EMS</h4>
                    <h5 class="text-capitalize">{{user.username}}</h5>
               </div>
          </div>
     </div>
</div>
{% endblock main %}