{% extends "admin/admin_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <div class="row">
               <div class="col-md-6">
                   <h2 class="p-2 text-secondary">All Employee Details</h2>
               </div>
               <div class="col-md-6 text-end">
                    <a href="{% url 'job-add' %}" class="btn btn-primary ">New Add</a>

               </div>
           </div>

          <div class="container-fluid">
               <table class="table table-bordered  table-hover">
                    <thead class="table-dark">
                         <tr class="table-primary">
                              <th scope="col">S.N</th>
                              <th scope="col">Name</th>
                              <th scope="col">Category</th>
                              <th scope="col">Description</th>
                              <th scope="col">Posted_at</th>
                              <th scope="col">Location</th>
                              <th scope="col">Salary</th>
                              <th scope="col">Action</th>
                         </tr>
                    </thead>
                    <tbody>

                         {% for i in employee %}
                         <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{i.title|truncatechars:20}}</td>
                              <td>{{i.category|truncatechars:20}}</td>
                              <td>{{i.description|truncatechars:20}}</td>
                              <td>{{i.posted_at}}</td>
                              <td>{{i.location|truncatechars:20}}</td>
                              <td>${{i.salary}}</td>
                              <td><a href="/admin_job_view_detail/{{i.pk}}/" class="btn btn-primary"><i
                                             class="fa-solid fa-circle-user"></i></a>
                                   <a href="/job_posting_delete/{{i.pk}}/" class="btn btn-danger"
                                        onclick="return confirm('Are you sure?')"><i
                                             class="fa-solid fa-user-xmark"></i></a>
                              </td>

                         </tr>
                         {% endfor %}
                    </tbody>
               </table>
          </div>
     </div>
</div>


{% endblock main %}