{% extends "admin/admin_base.html" %}
{% block main %}
<div class="card shadow m-2">
     <div class="card-body">
          <h2 class="p-2 text-secondary">Details</h2>

          <div class="container-fluid">
               <form action="" method="post" name="signup">
                    {% csrf_token %}
                    
                    {% for employee in employee %}                        
                    <div class="form-row">
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">First Name:{{employee.user.first_name}}</label>
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Last Name:{{employee.user.last_name}}</label>
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Employee Code:{{employee.empcode}}</label>
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="form-group">
                                   <label for="">Employee Designation:{{employee.designation}}</label>
                              </div>

                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label for="">Employee Department:{{employee.empdept}}</label>
                                   </div>
                              </div>
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label for="">Email ID: {{employee.user.username}}</label>
                                   </div>
                              </div>
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label for="">Contact:{{employee.contact}}</label>
                                   </div>
                              </div>
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label for="">Joining Date:{{employee.join_date}}</label>
                                   </div>
                              </div>
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label for="">Gender:{{employee.gender}}</label>
                                   </div>
                              </div>

                         </div>
                    </div>
                    {% endfor %}


                    <input type="submit" value="Submit" class="m-4 px-3 btn btn-success">
               </form>
          </div>
     </div>
</div>
{% endblock main %}