{% extends "admin/admin_base.html" %}
{% block main %}
<script>
     function checkpassword() {
          if (document.signup.password.value != document.signup.conformpassword.value) {
               alert('Password And Conform password is doesnot match');
               document.signup.conformpassword.focus();
               return false;
          }
          return true;
     }
</script>

<div class="card shadow m-5">
     <div class="card-body">
          <div class="row">
               <div class="col-md-6">
                    <h2 class="p-2 text-secondary">Create Job</h2>
               </div>
               <div class="col-md-6 text-end">
                    <a href="{% url 'all_job' %}" class="btn btn-primary ">Show Job</a>

               </div>
          </div>

          <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {{form.as_p}}         
               <button type="submit" class="btn btn-primary">Submit</button>
          </form>

     </div>
</div>








{% endblock main %}