{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="container text-primary">
    <p class=" h1 text-sm-center">Job Application</p>
    <p class=" h3 text-sm-center">Please complete the form below to apply for a position with us.</p><br>
    <form method="post" enctype="multipart/form-data" class="container">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button class="btn btn-success">Submit</button>

        <br><br>
        
        </div>
    </form>
</div>

{% include 'home/info_section.html' %}
{% include 'home/footer_section.html' %}

{% endblock content %}