{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<script>
     function checkpassword() {
          if (document.signup.password.value != document.signup.conformpassword.value) {
               alert('Password And Conform password is doesnot match');
               document.signup.conformpassword.focus();
               return false;
          }
          return true;
     }
</script>

<div class="card shadow m-5">
     <div class="card-body">
          <h2 class="p-2 text-secondary">Create Your Account</h2>

          <div class="container-fluid">
               <form action="" method="post" name="signup" onsubmit="return checkpassword()"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <input type="submit" value="Submit" class="m-4 px-3 btn btn-success">
               </form>
          </div>
     </div>
</div>

{% if error == "no" %}
<script>
     alert("Sign of sucessfully");
     window.location = "{% url 'emp_login'%}";  // Redirecting to other page (add)
</script>
{% endif %}

{% if error == "yes" %}
<script>
     alert('Please Enter Correct Details');  
</script>

{% endif %}






{% endblock content %}