{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'header.html' %}
<!-- about section -->

<section class="about_section layout_padding bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box ">
          <div class="heading_container">
            <h2>
              About Us
            </h2>
          </div>
          <p class="accordion">
            Welcome to our Employee Website!, we are more than just a workplace; we are a community of
            dedicated professionals working collaboratively to achieve excellence. Founded [Year of Establishment], our
            company has been a trailblazer in [Industry/Field], driving innovation and setting new standards.
          </p>
          <p id="accordion">

            Our success story is built upon the foundation of our talented and diverse workforce. With employees from
            various backgrounds, cultures, and experiences, we foster an inclusive environment where every individual's
            unique perspective is valued. Our commitment to teamwork, respect, and open communication forms the backbone
            of our organizational culture.

            These principles guide us in everything we do, from delivering top-notch products/services to providing
            exceptional customer experiences. As we continue to evolve in this ever-changing landscape, we remain
            dedicated to upholding our values and maintaining our reputation as an industry leader.

            Our journey is marked by milestones that reflect our dedication to growth and progress we have consistently
            demonstrated our ability to adapt, learn, and thrive. None of this would be possible without the hard work
            and commitment of our exceptional employees.

            As we look to the future, we are excited about the opportunities that lie ahead. Our employee-focused
            initiatives, professional development programs, and cutting-edge projects will empower each team member to
            contribute to our shared success story. Together, we are shaping the future of [Industry/Field] and creating
            a legacy that we can all be proud of.

            Thank you for being a vital part of the [Company Name] family, and we look forward to achieving even greater
            heights together.
          </p>
          <button id="btn" class="btn btn-primary">
            Read More
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'jobs/images/about-img.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

{% include 'home/info_section.html' %}
{% include 'home/footer_section.html' %}

{% endblock content %}