{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<!-- expert section -->

<section class="expert_section layout_padding bg-light">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        LOOKING FOR EXPERTS?
      </h2>
      <p></p>
    </div>
    <div class="row">
      
      {% for freelancer_post in freelancer_posts %}
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="{{freelancer_post.feature_image.url}}" alt="{{freelancer_post.title}}" height="180px">
            <!-- <img src="{% static 'jobs/images/e1.jpg' %}" alt=""> -->
          </div>
          <div class="detail-box">
            <a href="{% url 'freelancer' %}">
              {{freelancer_post.user.first_name}} {{freelancer_post.user.last_name}}
            </a>
            <h6 class="expert_position">
              <span>
                {{freelancer_post.empdept}}
              </span>
              <span>
                {{freelancer_post.empcode}} employee Code
              </span>
            </h6>
            <span class="expert_rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            <p>
              {{freelancer_post.designation}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
        
    </div>
    <div class="btn-box">
      <a href="">
        View All Freelancers
      </a>
    </div>
  </div>
</section>

<!-- end expert section -->

{% include 'home/info_section.html' %}
{% include 'home/footer_section.html' %}
{% endblock content %}
